inspection-flask_old/
docs/工服检测预定方案/
*.png
*.jpg
*.jpeg
*.txt
*.csv
**/artifacts/reports/
!*.pt
datasets/
review/
__pycache__/
tmp_review_overlays/

# person
images/
labels/
working/

# ROI
roi-work/
问题样本.png

# 学姐、师姐训练模型
otherMonitor/ 
#打电话检测
call_runs/ 
#障碍杆检测
BarrierMonitor/ 
#吸烟检测
smoke/ 

# 其他
资料-LaTex/
PPT/
/.idea
backend-train-model.zip


# Large local archives
*.zip
*.7z
*.rar
*.tar
*.tar.gz
*.tgz
